<div class="main">
    <div id="barraFiltrado">
        <h3>Buscar criptomoneda:</h3>
        <input type="text" [(ngModel)]="palabra_filtrar" (keyup)="filtrarPorNombre()" name="filtrar">
        <button style="margin-left: 1%;" class="btn btn-primary" *ngIf="arrayFiltrado.length > 0" (click)="anadirParaBuscar('cerrarLista')">Cerrar lista X</button>
        <ul id="barraFiltradoUl">
            <li *ngFor="let moneda of arrayFiltrado">
                {{moneda.name}} <button class="botonFav" (click)="anadirParaBuscar(moneda.id)">⭐</button>
            </li>
        </ul>
    </div>
    
    <div id="fav" *ngIf="crypto.length">
        <table>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Simbolo</th>
                <th>Precio</th>
                <th>Últimas 24h</th>
                <th>Capitalización</th>
                <th>Volumen</th>
                <th>Detalle</th>
                <th>Borrar</th>
            </tr>
            <tr *ngFor="let moneda of crypto">
                <td><img [src]="moneda.image.small" [alt]="moneda.name"></td>
                <td>{{moneda.name}}</td>
                <td >${{moneda.symbol}}</td>
                <td>{{moneda.market_data.current_price.eur}} EUR</td>
                <td class="moneda_cambio" [ngClass]="moneda.price_change_percentage_24h> 0 ? 'text-success': 'text-danger'">{{moneda.price_change_percentage_24h}}%</td>
                <td>{{moneda.market_data.market_cap.eur}} EUR</td>
                <td>{{moneda.market_data.total_volume.eur}} EUR</td>
                <td><button class="btn btn-primary" (click)="verDetalle(moneda.id)">Ver detalle</button></td>
                <td><button class="btn btn-primary" (click)="borrarDiv(moneda.id)">Borrar</button></td>
            </tr>
        </table>
    </div>
</div>

