<div class="main">
    <div id="barraFiltrado">
        <h3>Buscar criptomoneda:</h3>
        <input type="text" [(ngModel)]="palabra_filtrar" (keyup)="filtrarPorNombre()" name="filtrar">
        <button style="margin-left: 1%;" class="btn btn-primary" *ngIf="arrayFiltrado.length > 0" (click)="anadirParaBuscar('cerrarLista')">Eliminar búsqueda X</button>
        <ul id="barraFiltradoUl">
            <li *ngFor="let moneda of arrayFiltrado">
                <img [src]="moneda.image.small" [alt]="moneda.name">
                {{moneda.name}} <button (click)="anadirParaBuscar(moneda.id)"><i class="fa-solid fa-heart"></i></button>
            </li>
        </ul>
    </div>
    <div id="fav" *ngIf="!crypto.length">
        <h3>No hay monedas guardadas</h3>
    </div>
    <div id="fav" *ngIf="crypto.length">
        <h3>Monedas guardadas</h3>
        <table>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Simbolo</th>
                <th>Precio</th>
                <th>Últimas 24h</th>
                <th>Capitalización</th>
                <th>Volumen</th>
                <th>Detalle</th>
                <th>Borrar</th>
            </tr>
            <tr *ngFor="let moneda of crypto">
                <td><img [src]="moneda.image.small" [alt]="moneda.name"></td>
                <td>{{moneda.name}}</td>
                <td >${{moneda.symbol}}</td>
                <td>{{moneda.market_data.current_price.eur}} EUR</td>
                <!--Ultimas 24h si están en negativo, en rojo, y verde si es positivo-->
                <td [ngStyle]="{'color': moneda.market_data.price_change_percentage_24h_in_currency.eur > 0 ? 'green' : 'red'}">{{moneda.market_data.price_change_percentage_24h_in_currency.eur}} %</td>
                <td>{{moneda.market_data.market_cap.eur.toLocaleString()}} euros</td>
                <td>{{moneda.market_data.total_volume.eur.toLocaleString()}} monedas</td>
                <td><button class="btn btn-primary" (click)="verDetalle(moneda.id)">Ver detalle</button></td>
                <td><button class="btn btn-primary" (click)="borrarDiv(moneda.id)"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
        </table>
    </div>
</div>

