<div class="mainHome">
    <div class="home__main">
        <div id="primeraParteS1">
            <h1>Empieza a crear tu cartera de criptomonedas</h1>
            <h5>El lugar más sencillo para comprar y vender criptomonedas. Regístrate y comienza hoy mismo.</h5>
            <a href="#" class="enlace__home__main"><i class="fa-brands fa-bitcoin"></i>Crea tu cartera ahora</a> <!--Unico lugar donde la página carga ( es decoración)-->
            <div id="inputRegister">
                <input type="text" placeholder="Correo electrónico">
                <button class="btn btn-primary" (click)="eligenos()">Registrate</button>
            </div>
            
        </div>
        <div id="imagenHome">
            <img src="../../assets/img/home1.png" alt="home1">
        </div>
    </div>
    <div class="div_eligenos">
        <h1>La plataforma de criptomonedas más segura y fiable</h1>
        <p>¿Por qué escogernos?</p>
        <div class="fotos">
            <img src="../../assets/img/almacenamiento.png" alt="almacenamiento">
            <img src="../../assets/img/proteccion.png" alt="proteccion">
            <img src="../../assets/img/practicas.png" alt="practicas">
        </div>
    </div>
</div>