<div class="mainHome">
    <div class="home__main">
        <div id="primeraParteS1">
            <h1>Empieza a crear tu cartera de criptomonedas</h1>
            <h5>El lugar más sencillo para comprar y vender criptomonedas. Regístrate y comienza hoy mismo.</h5>
            <a href="#" class="enlace__home__main"><i class="fa-brands fa-bitcoin"></i>Crea tu cartera ahora</a> <!--Unico lugar donde la página carga ( es decoración)-->
            <div id="inputRegister">
                <input type="text" placeholder="Correo electrónico">
                <button>Empezar</button>
            </div>
            
        </div>
        <div id="segundaParteS2">
            <img src="../../assets/img/imagen1.png" alt="imagen1">
        </div>
    </div>
    <div class="segundaSeccion">
        <!-- carga una tabla con las primeras 3 criptomonedas-->
    </div>
    <div class="terceraSeccion">
        <h1>La plataforma de criptomonedas más segura y fiable</h1>
        <p>¿Por qué escogernos?</p>
        <div class="seccionFotos3">
            <img src="../../assets/img/imagen3.png" alt="imagen3">
            <img src="../../assets/img/imagen4.png" alt="imagen4">
            <img src="../../assets/img/imagen5.png" alt="imagen5">
        </div>
    </div>
</div>